body {
	background-color: #ffe6cc;
}

h1 {
	text-align:center;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size:50px;
}

h2 {
	text-align: center;
	margin-top:5px;
	margin-bottom:30px;
	display:inline;
}

#planeIcon {
	width:25px;
	height:auto;
	padding:10pxs;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

.animation {
	margin-bottom: 50px;
    -webkit-transform: rotate(-5deg);
    position:relative;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
}

.mainContent {
	border: 1px solid #999999;
	text-align:center;
}

.section {
	height: 500px;
}

.mainContent {
	height:300px;
	padding:20px;
	background-color: white;
}

p {
	font-size:18px;
	padding-bottom:20px 0;
}

img {
	width:300px;
	height:auto;
	max-width:100%;
}